*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 244, 237);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5vw;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 1.25vw;
    gap: 10vw;
    
}
.menu{
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-left: auto;
    margin-right: 2vw;

}
.options{
     display: flex; 
     margin-right: 2vw;
}
ul li{
    list-style: none;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 17px;
}
.logo h1{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: black;
}
.logo a{
    text-decoration: none;
}
button{
    background-color: black;
    color: white;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}
.footer{
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    padding: 3vh 0;
    border-top: 1px solid black;
    
}
main{
    flex: 1;
}

footer ul li{
    font-weight: 400;
    font-size: 12px;
}

@media (max-width:730px) {
    .n{
        display: none;
    }
}
@media (max-width:550px) {
    .m{
        display: none;
    }
}

@media (max-width:830px) {
    .a{
        display: none;

    }
    .footer{
        background-color: black;
        color: white;
    }
    
}